<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="">
        
        <center>
            <H1>Network Connectivity Test - Ping Program </H1> <br>
        </center>
        <left>
        Input File Location eg. C:/XXX/YYY/: <input type = "text" name= "ipath" /> <br>
        Input File Name (Contains IP Addresses or URLs): <input type = "text" name= "ifile" /> <br>
        <br>
        Output File Location eg. C:/XXX/YYY/: <input type = "text" name= "opath" /> <br>
        Output File Name: <input type = "text" name= "ofile" /> <br>
        </left>

        <center>
            <input type = "Submit"> <br>
        </center>


    </form>
    </BODY>
    </HTML>