<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="">
        
        <center>
        <H1>SSH Remote Server - Input Command Program </H1> <br>
        
        Remote Server IP Address: <input type = "text" name= "rs_ip" /> <br>
        Login User: <input type = "text" name= "rs_user" /> <br>
        Password: <input type = "text" name= "rs_passwd" /> <br>
        <br>
        Output File Location eg. C:/XXX/YYY/: <input type = "text" name= "lpath" /> <br>
        Output File Name: <input type = "text" name= "ofile" /> <br>
        Input Command: <input type = "text" name= "rs_cmd" /> <br>
   
        <input type = "Submit"> <br>
        </center>

    </form>
    </BODY>
    </HTML>