<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="">
        <left>
        Output File Location eg. C:/XXX/YYY/: <input type = "text" name= "lpath" /> <br>
        Output File Name: <input type = "text" name= "ofile" /> <br>
        </left>

        <center>
        <H1>Network Connectivity Test - Ping Program </H1> <br>
        Server Name1 <input type = "text" name= "name1" /> <br>
        Server Name2 <input type = "text" name= "name2" /> <br>
        Server Name3 <input type = "text" name= "name3" /> <br>
        Server Name4 <input type = "text" name= "name4" /> <br>
        Server Name5 <input type = "text" name= "name5" /> <br>
        <input type = "Submit">
        </center>
    </form>
    </BODY>
    </HTML>